form{
  margin-bottom: 50px;
  margin-top: 40px;
}
#name{
  width: 97%;
}
#phone_address{
  margin-top: 60px;
}
#saladdress{
  font-size: 22px;
  font-family: fantasy;
  }
#phone{
  font-size: 22px;
  font-family: fantasy;
}
#message{
  font-size: 22px;
  font-family: fantasy;
}
#map{
font-size: 20px;
font-style: italic;
}
#address{
font-size: 22px;
font-style: italic;
padding-left: 40px;
margin-left: 100px;
}
#salonmap{
margin-bottom: 40px;
margin-left: 150px;
}
#location{
   box-shadow: 10px 10px 5px grey;
}
#contactslink{
  font-size: 25px;
}
#aboutus{
  font-size: 22px;
  font-family: fantasy;
}
.well{
  width: 96%;
  }
#about{
  font-size:19px;
  font-style: italic;
}
#header{
  font-style: italic;
  font-size: 37px;
  font-family: fantasy;
  margin-bottom: 30px;
  margin-top: 50px;
}
img{
  zoom: 110%;
  margin-bottom: 150px;
}
.deg_btn {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0 60px;
    font-size: 19px;
    height: 40px;
    line-height: 40px!;
    vertical-align: middle;
    background: #51270d;
    font-size: 20px;
    color: rgb(255, 255, 255);
    transition: .4s;
    margin-top: 30px;
    margin-bottom: 30px;
  }
.deg_btn:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: none;
    border-left: solid 21px white;
    border-bottom: #img_container {
    position:relative;
    display:inline-block;
    text-align:center;
    border:1px solid red;
    /* background:url('http://jsfiddle.net/img/initializing.png') no-repeat;
    width:186px;
    height:157px;*/
}
.button {
    position:absolute;
    bottom:10px;
    right:10px;
    width:100px;
    height:30px;
}solid 41px transparent;
    z-index: 1;
    transition: .4s;
}
.deg_btn:after {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border: none;
    border-left: solid 21px transparent;
    border-bottom: solid 41px white;
    z-index: 1;
    transition: .4s;
}
.deg_btn:hover:before, .deg_btn:hover:after{
    border-left-width: 25px;
}
.deg_btn:hover{
    background: #f7ceb4;
}
