<h1> Client list!</h1>

#if ($clients)
  <ul>
    #foreach ($client in $clients)
      <li><a href="/clients/$client.getId()">$client.getDescription()</a></li>
    #end
  </ul>
#else
  <p>No clients!</p>
#end

<a href="/clientss/new">Add New Client</a>
