<!--index.vtl-->
<div id="header">
  Hair Salon and Spa
</div>
<div>

    <img src='/img/image3.jpg' alt='A photo of hair salon'/>

      <a href="/stylists" class="deg_btn">Stylists</a>
      <a href="/styles" class="deg_btn ">Styles</a>
      <a href="/shops" class="deg_btn">Shops</a>
      <a href="/products" class="deg_btn">Product Lines</a>
      <a href="/appointments" class="deg_btn">Book An Appointment</a>
<!--index.vtl-->
