<!--index.vtl-->

<img src='/img/image2.jpg' alt='A photo of hair salon'/>


<a href="/stylists" class="deg_btn">Stylistst</a>
<a href="/styles" class="deg_btn">Styles</a>
<a href="/styles" class="deg_btn">Shops</a>
<a href="/styles" class="deg_btn">Product Lines</a>
<a href="/styles" class="deg_btn">Book An Appointment</a>
<a href="/styles" class="deg_btn">Contact us</a>


<!--index.vtl-->
